@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .appliedButton{
      backgroundColor:green;
      color:white
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      },
      
      .no-scrollbar {
        -ms-overflow-style: none;   
        scrollbar-width: none;   
      }
      ,
      ::-webkit-scrollbar {
        width: 0;   
        background: transparent;   
    },
  
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }

  }